*.mp4
*.mov
*.avi
*.mp3
*.exe
*.pdf
*.jpg
*.png
**/.idea/
Java/JavaWeb/HTML/vue.js/vue.js
Java/eclipse_workspace/.metadata
D:/Coding/Learn/Java/JavaWeb/XLNewsWebsite/img
/Java/JavaWeb/reggie_take_out/
